body {
    text-align: center;
    font-family: Verdana, Arial;
    background-color: #ddd;
    border: hidden;
    border: 50px auto;
}

/* Input at top of page */
.textInput {
    position: inherit;
    width: 100px;
    padding: 4px 20px;
    border: solid;
    border-width: 1px;
    border-color: #444;
    border-radius: 3px;
    box-shadow: 1px 3px 5px 0px #aaa; 
}

.submitInput {
    width: 80px;
    height: 25px;
    margin: 0 10px;
    border: solid;
    border-width: 1px;
    border-radius: 3px;
    background-color: lightgray;
    box-shadow: 1px 3px 3px 0px grey; 
}

/* Canvas elements */
.canvas {
    box-shadow: 1px 3px 20px 0 rgb(100,100,100);
    top: 50px;
    display: inline-block;
    background-color: white;
    margin: 70px 100px;
    border: solid;
    border-width: 1px;
    border-color: black;
}

.pixel {
    width: 10px;
    height: 10px;
    float: left;
    opacity: 1;
    border: none;
    border-width: 1px;
    border-color: white;
}